<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>edu</display-name>
  
  <!-- web app 변수 설정 -->
  <context-param>
  	<param-name>contextConfig</param-name>
  	<param-value>/WEB-INF/layout.xml</param-value>
  </context-param>
  
  <!-- 오류 처리 -->
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/errorHandle</location>
  </error-page>
  
  <!-- 리스너 등록 -->
  <listener>
  	<listener-class>com.edu.day4.MyListener</listener-class>
  </listener>
  
  <!-- Filter 등록 -->
  <filter>
  	<filter-name>firstFilter</filter-name>
  	<filter-class>com.edu.day4.MyFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>flow1</filter-name>
  	<filter-class>com.edu.day4.FlowFilterOne</filter-class>
  </filter>
  <filter>
  	<filter-name>flow2</filter-name>
  	<filter-class>com.edu.day4.FlowFilterTwo</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <!-- Filter 매핑 -->
  <filter-mapping>
  	<filter-name>firstFilter</filter-name>
  	<url-pattern>/third</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>flow1</filter-name>
  	<url-pattern>/secondSer</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>flow2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>first</servlet-name>
  	<servlet-class>com.edu.test.Test2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test6</servlet-name>
  	<servlet-class>com.edu.test.Test6</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>initParam</servlet-name>
  	<servlet-class>com.edu.test.InitParamServlet</servlet-class>
  	<!-- 등록된 서블릿에서만 사용 가능한 변수 -->
  	<init-param> 
  		<param-name>id</param-name>
  		<param-value>guest</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>1004</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>test7</servlet-name>
  	<servlet-class>com.edu.test.test7</servlet-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </servlet>
  
  <!-- 서블릿 URL 작성 -->
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/exam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test6</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>initParam</servlet-name>
  	<url-pattern>/initParamTest</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>test7</servlet-name>
  	<url-pattern>/servletConfigTest</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
   <welcome-file>index.jsp</welcome-file>
   <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>

